<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/">My Site</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/sales-json">sales json </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/sess">查看 session</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/address-book" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        address-book
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/address-book">list</a>
                        <a class="dropdown-item" href="/address-book/add">add</a>

                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/address-book-mongo" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        address-book-mongo
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/address-book-mongo">list-mongo</a>
                        <a class="dropdown-item" href="/address-book-mongo/add">add-mongo</a>

                    </div>
                </li>
            </ul>
            <ul class="navbar-nav">
                <% if(locals.loginUser && locals.loginUser.account){ %>
                    <li class="nav-item">
                        <a class="nav-link"><%= loginUser.nickname %></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/member/logout">登出</a>
                    </li>
                <% } else { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/member/login">登入</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/member/register">註冊</a>
                    </li>
                <% } %>


            </ul>

        </div>
    </div>
</nav>